<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Apuntes</title>
    <link rel="stylesheet" href="../styles/index.css">
</head>
<body class="body_apuntes">
    <header class="header_menu">
        <nav class="nav_menu">
            <div>
                <ul class="ul_lista_menu">
                    <li><a href="#Sentencias">SUBIR APUNTES</a></li>
                    <li><a href="#guia">REVISAR APUNTES</a></li>
                    <li><SUBMIT id="out_login">CERRAR CESIÓN</SUBMIT></li>
                </ul>
            </div>
        </nav>
    </header>
    <script src="../js/outlogin.js"></script>
</body>
</html>