<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acceso</title>
    <link rel="stylesheet" href="../styles/index.css">
    <link rel="shortcut icon" href="../img/UDEC.jpg" type="image/x-icon">
</head>
<body class="login_body">
    <section class="section_form">
        <form id="form-login" class="form_body">
            <H1 class="h1_login">INICIAR SESIÓN</H1>
            <label class="correo" for="correo">EMAIL</label>
            <input name="email" id="correo" type="email" placeholder="Ingresa el correo" required><br>
            <label class="contasena" for="contrasena">CONTRASEÑA</label>
            <input name="password" id="contrasena" type="password" placeholder="Ingresa la contraseña" required><br>
            <button class="boton" id="boton" type="submit">INICIAR SESIÓN</button>
        </form>
    </section>
    <script src="../js/login.js"></script>
</body>
<footer>
    <a class="regresar_inicio" href="../../index.html">REGRESAR A INICIO</a>
</footer>
</html>