.login_body{
    background-image: url(../img/abogs.jpg);
    background-size: cover;
    backdrop-filter: blur(2px);
    background-attachment: fixed;
    background-blend-mode: soft-light;
    background-color: #0008;
}
.section_form{
    height: 96.8vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.form_body{
padding: 60px;
border: 2px solid #fff;
backdrop-filter: blur (20px);
border-radius: 10px;
font-size: larger;
text-align: center;
}
.regresar_inicio{
    background-color: rgb(49, 118, 247, 0.801);
    border-radius: 5px;
    font-size: 20px;
}
label{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-top: 8px;
}
input{
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 6px 10px;
    border-radius: 5px;
}
.boton{
    outline:none;
    border: none;
    padding: 10px 15px;
    background-color: rgb(49, 118, 247, 0.801) ;
    color: #fff;
    cursor: pointer;
    border-radius: 5px;
}
.h1_login{
    margin-bottom: 15px;
}